$base-color: #e63946;
$base-bg: rgb(244, 244, 244);
$facebook-bg: #3b5998;

$icon-profile: #ffd166;
$icon-wallet: #e63946;

$white-color: #ffffff;
$link-color: #333333;
$nav-color: #3d464d;
$border-color: #efefef;

$base-font: 14px;
$header-font: 18px;
